# --- JAVA / MAVEN ---
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar
# Quita la linea de application.properties para que Render pueda leer la config base

# --- FRONTEND (Vite / TS) ---
frontend/node_modules/
frontend/dist/
frontend/.cache/
frontend/node/
# Si tienes un node_modules en la raiz por error, tambien fuera:
node_modules/

# --- IDEs ---
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache

# --- SISTEMA ---
.DS_Store
Thumbs.db