<div id="theme-wrapper"
    class="flex flex-col items-center bg-gray-200 dark:bg-slate-900 m-0 w-full min-h-screen overflow-x-hidden font-sans antialiased">
    <header class="md:top-0 z-10 md:fixed bg-white dark:bg-slate-800 shadow-md dark:shadow-lg py-4 w-full">
        <div class="flex justify-between items-center gap-2 mx-auto px-3 w-full max-w-250 md:max-w-327.5">
            <div class="flex flex-col gap-2">
                <h1 class="font-semibold text-blue-600 dark:text-indigo-400 text-2xl">Aplicación ToDo List</h1>
                <p id="user-name" class="font-semibold text-gray-600 dark:text-gray-400"></p>
            </div>

            <div class="flex items-center gap-3">
                <button id="admin-button" type="button" onclick="navigate('/admin')"
                    class="hidden bg-blue-100 hover:bg-blue-200 dark:bg-indigo-900/50 dark:hover:bg-indigo-800 px-4 py-2 rounded-xl font-bold text-blue-700 dark:text-indigo-300 text-sm transition-colors cursor-pointer">
                    Panel Admin
                </button>

                <form id="logout-form">
                    <button
                        class="flex items-center gap-2 hover:bg-gray-200 dark:hover:bg-slate-700 px-3 py-2 rounded-xl text-gray-600 dark:text-gray-400 text-sm sm:text-lg transition-colors cursor-pointer"
                        type="submit">
                        <svg class="fill-gray-600 dark:fill-gray-400 size-5 rotate-180">
                            <use href="/login.svg#login"></use>
                        </svg>
                        Cerrar sesión
                    </button>
                </form>
            </div>
        </div>
    </header>

    <main class="flex flex-col gap-4 mx-auto mt-8 px-4 md:pt-20 pb-10 w-full max-w-2xl">

        <div class="relative flex flex-col pb-19">
            <section
                class="bg-white dark:bg-slate-800 shadow-md p-6 border border-gray-200 dark:border-slate-700 rounded-2xl">
                <h2 class="mb-4 font-bold text-blue-600 dark:text-indigo-400 text-xl">Nueva Tarea</h2>
                <form id="task-form" class="flex flex-col gap-3">
                    <input type="text" name="title" placeholder="¿Qué necesitas hacer?" required
                        class="bg-gray-50 dark:bg-slate-900 px-4 py-3 border border-gray-300 dark:border-slate-600 rounded-xl outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-indigo-500 w-full dark:text-white">
                    <textarea name="description" placeholder="Detalles (opcional)..."
                        class="bg-gray-50 dark:bg-slate-900 px-4 py-3 border border-gray-300 dark:border-slate-600 rounded-xl outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-indigo-500 w-full h-20 dark:text-white resize-none"></textarea>

                    <div class="flex md:flex-row flex-col gap-4 max-md:*:w-full">
                        <div class="relative flex flex-col flex-1 gap-2" id="category-dropdown-container">
                            <button type="button"
                                class="group inline-flex justify-between items-center bg-gray-50 dark:bg-slate-900 px-1 py-3 border border-gray-300 hover:border-indigo-400 dark:border-slate-600 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500 w-full text-gray-700 dark:text-gray-200 text-sm transition-all cursor-pointer category-dropdown-btn">
                                <span class="px-2 truncate category-dropdown-label">Categorías: 0</span>
                                <svg class="w-5 h-5 text-gray-500 dark:group-hover:text-indigo-400 group-hover:text-blue-500 transition-transform duration-300"
                                    viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>

                            <div
                                class="hidden top-12 left-0 z-50 absolute bg-white dark:bg-slate-800 shadow-xl border border-gray-200 dark:border-slate-700 rounded-xl w-full overflow-hidden category-dropdown-menu">
                                <div class="relative p-2 border-gray-200 dark:border-slate-700 border-b">
                                    <input type="text" placeholder="Buscar categoría..."
                                        class="bg-gray-50 dark:bg-slate-900 px-3 py-2 border border-gray-300 dark:border-slate-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 w-full text-gray-800 dark:text-gray-200 text-sm category-search">
                                </div>
                                <div class="scrollbar-thin scrollbar-thumb-gray-300 dark:scrollbar-thumb-slate-500 scrollbar-track-gray-100 dark:scrollbar-track-slate-700 scrollbar-thumb-rounded-full p-1 max-h-52 overflow-y-auto category-list"></div>
                            </div>
                        </div>

                        <input type="text" name="tagsInput" autocomplete="off" placeholder="Tags (ej: urgente, compras)"
                            class="bg-gray-50 dark:bg-slate-900 px-4 py-2 border border-gray-300 dark:border-slate-600 rounded-xl outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-indigo-500 w-2/3 dark:text-white">
                    </div>
                    <div class="flex sm:flex-row flex-col gap-4 w-full">
                        <div class="group relative flex-1">
                            <div class="z-10 absolute inset-s-0 inset-y-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:group-hover:text-indigo-400 dark:text-gray-400 group-hover:text-blue-500 transition-colors duration-300"
                                    fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                </svg>
                            </div>
                            <input type="text" id="date-input" name="date" placeholder="Seleccionar fecha limite"
                                autocomplete="off"
                                class="block bg-gray-50 dark:bg-slate-900 py-3 pr-4 pl-10 border border-gray-300 focus:border-blue-500 dark:border-slate-600 dark:focus:border-indigo-500 rounded-xl focus:ring-blue-500 dark:focus:ring-indigo-500 w-full text-gray-900 dark:text-white text-sm transition-all dark:placeholder-gray-400">
                        </div>
                        <div class="group relative flex-1">
                            <div class="z-10 absolute inset-e-0 inset-y-0 flex items-center pe-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 dark:group-hover:text-indigo-400 dark:text-gray-400 group-hover:text-blue-500 transition-colors duration-300"
                                    fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                </svg>
                            </div>
                            <input type="time" id="time-input" name="time" value="00:00"
                                class="block bg-gray-50 dark:bg-slate-900 py-3 pr-10 pl-4 border border-gray-300 focus:border-blue-500 dark:border-slate-600 dark:focus:border-indigo-500 rounded-xl focus:ring-blue-500 dark:focus:ring-indigo-500 w-full text-gray-900 dark:text-white text-sm transition-all">
                        </div>
                    </div>

                    <button type="submit"
                        class="md:self-end bg-blue-600 hover:bg-blue-700 dark:bg-indigo-600 dark:hover:bg-indigo-700 mt-2 px-6 py-2.5 rounded-xl w-full md:w-fit font-bold text-white transition-colors cursor-pointer">
                        Añadir Tarea
                    </button>
                </form>
            </section>
            <section id="task-options" data-active="false"
                class="group/taskopts right-0 bottom-0 absolute bg-white dark:bg-slate-800 shadow-md p-4 data-[active=true]:px-2 border border-gray-200 dark:border-slate-700 rounded-2xl data-[active=false]:hover:rounded-xl data-[active=true]:w-max max-w-full data-[active=true]:h-15 size-4 transition-all duration-500 delay-200 data-[active=true]:delay-0 cursor-pointer">
                <svg
                    class="top-1/2 left-1/2 absolute opacity-100 group-data-[active=true]/taskopts:opacity-0 size-6 text-blue-800 dark:group-hover/taskopts:dark:text-indigo-400 dark:text-indigo-300 group-hover/taskopts:text-blue-500 transition-all -translate-x-1/2 -translate-y-1/2 duration-500 group-data-[active=true]/taskopts:duration-50 delay-500 group-data-[active=true]/taskopts:delay-0 pointer-events-none">
                    <use href="/main.svg#filter"></use>
                </svg>
                <div
                    class="invisible group-data-[active=true]/taskopts:visible flex flex-row justify-between items-center gap-3 opacity-0 group-data-[active=true]/taskopts:opacity-100 h-full dark:text-white group-data-[active=true]/taskopts:*:scale-100 *:scale-0 transition-all *:transition-all duration-300 group-data-[active=true]/taskopts:*:duration-500 group-data-[active=true]/taskopts:duration-500 group-data-[active=true]/taskopts:*:delay-0 group-data-[active=true]/taskopts:delay-500 *:delay-500">
                    <select name="category-options-filter" id="category-options-filter"
                        class="bg-blue-600 dark:bg-indigo-600 px-5 py-2 rounded-lg text-white">
                        <option value="">- Categoria -</option>
                    </select>
                    <select name="" id="" class="bg-blue-600 dark:bg-indigo-600 px-5 py-2 rounded-lg text-white">
                        <option value="">- Completado -</option>
                        <option value="true">Completadas</option>
                        <option value="false">Incompletas</option>
                    </select>
                    <select name="" id="" class="bg-blue-600 dark:bg-indigo-600 px-5 py-2 rounded-lg text-white">
                        <option value="">- Ordenar por -</option>
                        <option value="title">Titulo</option>
                        <option value="description">Descripción</option>
                        <option value="category">Categoria</option>
                        <option value="complete">Completado</option>
                    </select>
                </div>
            </section>
        </div>

        <section class="relative flex flex-col gap-4">
            <div id="no-tasks"
                class="hidden justify-center items-center gap-4 py-8 w-full text-gray-500 dark:text-gray-400 text-center">
                <svg class="fill-gray-600 dark:fill-gray-400 size-5 text-gray-600 dark:text-gray-400"
                    viewBox="0 0 1024 1024">
                    <path
                        d="M832 512a32 32 0 1 1 64 0v352a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V160a32 32 0 0 1 32-32h352a32 32 0 0 1 0 64H192v640h640z" />
                    <path
                        d="m469.952 554.24 52.8-7.552L847.104 222.4a32 32 0 1 0-45.248-45.248L477.44 501.44l-7.552 52.8zm422.4-422.4a96 96 0 0 1 0 135.808l-331.84 331.84a32 32 0 0 1-18.112 9.088L436.8 623.68a32 32 0 0 1-36.224-36.224l15.104-105.6a32 32 0 0 1 9.024-18.112l331.904-331.84a96 96 0 0 1 135.744 0z" />
                </svg>
                No tienes tareas. ¡Añade una para empezar!
            </div>

            <div id="tasks-container" class="flex flex-col gap-4"></div>

        </section>
    </main>
    <dialog id="task-edit"
        class="z-50 fixed inset-0 open:flex justify-center items-center bg-black/50 backdrop-blur-sm m-0 border-none w-full max-w-none h-full max-h-none">
        <div id="edit-modal-box"
            class="relative flex flex-col gap-4 bg-white dark:bg-slate-800 shadow-xl m-auto p-6 rounded-2xl w-[90%] max-w-xl text-slate-900 dark:text-white">
            <h2 class="font-bold text-blue dark:text-indigo-400 text-xl">Editar Tarea</h2>

            <form id="edit-form" class="flex flex-col gap-3">
                <input type="text" name="title" id="edit-title" placeholder="Titulo" required
                    class="bg-gray-50 dark:bg-slate-900 px-4 py-2 border border-gray-300 dark:border-slate-600 rounded-xl outline-none focus:ring-2 focus:ring-indigo-500 w-full dark:text-white">
                <textarea name="description" id="edit-desc" placeholder="Descripción"
                    class="bg-gray-50 dark:bg-slate-900 px-4 py-2 border border-gray-300 dark:border-slate-600 rounded-xl outline-none focus:ring-2 focus:ring-indigo-500 w-full h-20 min-h-35 dark:text-white resize-none"></textarea>

                <div class="flex md:flex-row flex-col gap-4 max-md:*:w-full">
                    <div class="relative flex flex-col flex-1 gap-2" id="category-edit-dropdown-container">
                        <button type="button"
                            class="group inline-flex justify-between items-center bg-gray-50 dark:bg-slate-900 px-1 py-3 border border-gray-300 hover:border-indigo-400 dark:border-slate-600 rounded-xl focus:outline-none focus:ring-2 focus:ring-indigo-500 w-full text-gray-700 dark:text-gray-200 text-sm transition-all cursor-pointer category-dropdown-btn">
                            <span class="px-2 truncate category-dropdown-label">Categorías: 0</span>
                            <svg class="w-5 h-5 text-gray-500 dark:group-hover:text-indigo-400 group-hover:text-blue-500 transition-transform duration-300"
                                viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>

                        <div
                            class="hidden top-12 left-0 z-50 absolute bg-white dark:bg-slate-800 shadow-xl border border-gray-200 dark:border-slate-700 rounded-xl w-full overflow-hidden category-dropdown-menu">
                            <div class="relative p-2 border-gray-200 dark:border-slate-700 border-b">
                                <input type="text" placeholder="Buscar categoría..."
                                    class="bg-gray-50 dark:bg-slate-900 px-3 py-2 border border-gray-300 dark:border-slate-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500 w-full text-gray-800 dark:text-gray-200 text-sm category-search">
                            </div>
                            <div class="scrollbar-thin scrollbar-thumb-gray-300 dark:scrollbar-thumb-slate-500 scrollbar-track-gray-100 dark:scrollbar-track-slate-700 scrollbar-thumb-rounded-full p-1 max-h-52 overflow-y-auto category-list">
                        </div>
                    </div>

                    <input type="text" name="tagsInput" autocomplete="off" placeholder="Tags (ej: urgente, compras)"
                        id="edit-tags"
                        class="bg-gray-50 dark:bg-slate-900 px-4 py-2 border border-gray-300 dark:border-slate-600 rounded-xl outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-indigo-500 w-2/3 dark:text-white">
                </div>
                <div class="flex sm:flex-row flex-col gap-4 w-full">
                    <div class="group relative flex-1" id="edit-date-container">
                        <div class="z-10 absolute inset-s-0 inset-y-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:group-hover:text-indigo-400 dark:text-gray-400 group-hover:text-blue-500 transition-colors duration-300"
                                fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                            </svg>
                        </div>
                        <input type="text" id="date-deadline-edit" name="date" placeholder="Seleccionar fecha limite"
                            autocomplete="off"
                            class="block bg-gray-50 dark:bg-slate-900 py-3 pr-4 pl-10 border border-gray-300 focus:border-blue-500 dark:border-slate-600 dark:focus:border-indigo-500 rounded-xl focus:ring-blue-500 dark:focus:ring-indigo-500 w-full text-gray-900 dark:text-white text-sm transition-all dark:placeholder-gray-400">
                    </div>
                    <div class="group relative flex-1">
                        <div class="z-10 absolute inset-e-0 inset-y-0 flex items-center pe-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:group-hover:text-indigo-400 dark:text-gray-400 group-hover:text-blue-500 transition-colors duration-300"
                                fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                        </div>
                        <input type="time" id="time-deadline-edit" name="time" value="23:59"
                            class="block bg-gray-50 dark:bg-slate-900 py-3 pr-10 pl-4 border border-gray-300 focus:border-blue-500 dark:border-slate-600 dark:focus:border-indigo-500 rounded-xl focus:ring-blue-500 dark:focus:ring-indigo-500 w-full text-gray-900 dark:text-white text-sm transition-all">
                    </div>
                </div>
                <div class="flex justify-end gap-3 mt-4">
                    <button id="cancel-edit-task" type="button"
                        class="bg-gray-200 hover:bg-gray-300 dark:bg-slate-700 dark:hover:bg-slate-600 px-5 py-2 rounded-xl transition cursor-pointer">Cancelar</button>
                    <button id="save-edit-task" type="submit"
                        class="bg-indigo-600 hover:bg-indigo-700 px-5 py-2 rounded-xl text-white transition cursor-pointer">Guardar</button>
                </div>
            </form>
        </div>
    </dialog>

    <dialog id="task-info"
        class="bg-white dark:bg-slate-800 shadow-xl m-auto p-6 border-none rounded-2xl outline-none min-w-md">
        <div id="task-info-content" class="flex flex-col items-stretch gap-4">
            <div class="flex justify-between items-center">
                <h2 id="task-info-title"
                    class="self-center font-bold text-blue-500 dark:text-indigo-500 text-xl text-center whitespace-break-spaces">
                </h2>
                <svg
                    class="self-center bg-blue-200 dark:bg-indigo-900 fill-blue-500 dark:fill-indigo-500 -my-2 p-2 rounded-full size-12">
                    <use href="/main.svg#info"></use>
                </svg>

            </div>
            <pre id="task-info-desc"
                class="bg-gray-100 dark:bg-slate-900 p-2 border border-gray-300 dark:border-slate-600 rounded-xl max-w-[500px] font-sans dark:text-white whitespace-pre-wrap"></pre>
            <div class="info-field-['Fecha_limite:']">
                <p id="task-info-deadline"
                    class="bg-gray-100 dark:bg-slate-900 p-2 border border-gray-300 dark:border-slate-600 rounded-xl dark:text-white">
                </p>
            </div>
            <div class="flex flex-col justify-between gap-3">
                <div id="task-info-categories"></div>
                <div id="task-info-tags"></div>
            </div>
            <status-info id="task-info-status" type="pendiente"></status-info>
            <div class="info-field-['Fecha_de_creación:']">
                <p id="task-info-created-at"
                    class="bg-gray-100 dark:bg-slate-900 p-2 border border-gray-300 dark:border-slate-600 rounded-xl dark:text-white">
                </p>
            </div>
            <div
                class="bg-gray-100 dark:bg-slate-900 border border-gray-300 dark:border-slate-600 rounded-xl dark:text-white info-field-['Última_modificación:']">
                <p id="task-info-updated-at" class="p-2"></p>
            </div>
            <button id="close-task-info"
                class="self-stretch bg-red-500 p-2 rounded-xl outline-none text-white hover:scale-101 transition-all cursor-pointer item-stretch">Cerrar</button>
        </div>
    </dialog>

    <script>
        function abrirEditModal(btn) {
            const article = btn.closest('.task-item');
            const modal = document.getElementById('edit-modal');

            document.getElementById('edit-form').action = `/tasks/${article.dataset.id}/edit`;

            document.getElementById('edit-title').value = article.dataset.title;
            document.getElementById('edit-desc').value = article.dataset.description || '';
            document.getElementById('edit-category').value = article.dataset.category || '';
            document.getElementById('edit-tags').value = article.dataset.tags || '';

            const tagIds = article.dataset.tags ? article.dataset.tags.split(',') : [];
            document.querySelectorAll('.edit-tag-checkbox').forEach(cb => {
                cb.checked = tagIds.includes(cb.value);
            });

            modal.showModal();
        }
    </script>
</div>