<div id="theme-wrapper" class="relative flex justify-center items-center h-dvh overflow-hidden font-sans text-slate-900 dark:text-white antialiased">
    <img src="/wall-login.webp" class="top-0 left-0 -z-10 absolute w-full h-dvh" alt="">
    <div
        class="top-0 left-0 -z-10 absolute backdrop-blur-sm dark:backdrop-brightness-50 dark:backdrop-contrast-150 w-full h-dvh">
    </div>

    <section
        class="flex flex-col justify-center items-center bg-white dark:bg-slate-800 shadow-2xl m-auto rounded-2xl w-[min(450px,90vw)] h-auto overflow-hidden container">

        <div class="flex flex-col justify-center items-center w-full h-full">
            <div class="bg-blue-100 dark:bg-slate-700 mt-8 p-3.5 rounded-full">
                <svg class="fill-blue-600 dark:fill-indigo-400 size-10">
                    <use href="/login.svg#login"></use>
                </svg>
            </div>

            <div class="px-6 py-4 w-full text-center">
                <div
                    class="group relative flex flex-col justify-center items-center mb-2 h-12 *:transition-all *:duration-500 cursor-pointer">
                    <h1
                        class="absolute group-hover:opacity-0 font-bold text-blue-600 dark:text-indigo-400 text-2xl group-hover:-translate-x-10">
                        LOGIN
                    </h1>
                    <button type="button" onclick="navigate('/register')"
                        class="absolute flex items-center gap-2 hover:bg-gray-200 dark:hover:bg-slate-700 opacity-0 group-hover:opacity-100 px-3 py-2 rounded-xl text-gray-600 dark:text-gray-400 text-lg whitespace-nowrap translate-x-10 group-hover:translate-x-0 cursor-pointer">
                        Registrarse
                    </button>
                </div>
                <p class="font-medium">Aplicación ToDo List</p>
                <p class="mt-1 text-gray-500 dark:text-gray-400 text-sm">Inicie sesión con su nombre de Usuario</p>
            </div>

            <div id="login-error"
                class="hidden bg-red-100 dark:bg-red-900/30 mx-8 mb-2 p-3 rounded-xl font-medium text-red-700 dark:text-red-400 text-sm text-center alert">
                Nombre de usuario o contraseña incorrectos.
            </div>

            <div id="login-required"
                class="hidden bg-yellow-100 dark:bg-yellow-900/30 mx-8 mb-2 p-3 rounded-xl font-medium text-yellow-700 dark:text-yellow-400 text-sm text-center alert">
                Debes iniciar sesión para acceder a esta página.
            </div>

            <div id="logout-success"
                class="hidden bg-emerald-100 dark:bg-emerald-900/30 mx-8 mb-2 p-3 rounded-xl font-medium text-emerald-700 dark:text-emerald-400 text-sm text-center alert">
                Has cerrado sesión correctamente.
            </div>

            <div id="register-success"
                class="hidden bg-emerald-100 dark:bg-emerald-900/30 mx-8 mb-2 p-3 rounded-xl font-medium text-emerald-700 dark:text-emerald-400 text-sm text-center alert">
                Usuario registrado correctamente.
            </div>

            <form id="login-form" class="flex flex-col items-stretch gap-4 px-8 pb-8 w-full caret-blue-600 dark:caret-indigo-600">
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <label for="username" class="ml-1 font-medium text-sm">Nombre de Usuario</label>
                        <input
                            class="bg-gray-50 dark:bg-slate-900 px-3 py-3 border border-gray-300 dark:border-slate-600 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-indigo-500 w-full dark:text-white transition-all"
                            type="text" name="username" id="username" placeholder="Ej: USUario09" required>
                    </div>

                    <div class="flex flex-col gap-1">
                        <label for="password" class="ml-1 font-medium text-sm">Contraseña</label>
                        <div class="group/pass relative">
                            <input
                                class="bg-gray-50 dark:bg-slate-900 px-3 py-3 pr-12 border border-gray-300 dark:border-slate-600 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-indigo-500 w-full dark:text-white transition-all"
                                type="password" name="password" id="password" placeholder="••••••••" required>

                            <button type="button" id="toggle-password"
                                class="top-1/2 right-3 absolute p-1.5 text-gray-400 hover:text-blue-600 dark:hover:text-indigo-400 transition-colors -translate-y-1/2 cursor-pointer">
                                <svg class="fill-none stroke-2 stroke-current size-5 eye-show" viewBox="0 0 24 24">
                                    <path
                                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                                <svg class="hidden fill-none stroke-2 stroke-current size-5 eye-hide"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <button id="login-btn"
                        class="bg-blue-600 hover:bg-blue-700 dark:bg-indigo-600 dark:hover:bg-indigo-700 mt-2 py-3 rounded-xl font-bold text-white active:scale-95 transition-all cursor-pointer"
                        type="submit">
                        Iniciar sesión
                    </button>

                    <hr class="self-center border-gray-300 dark:border-slate-700 w-[95%]">

                    <button type="button" onclick="navigate('/forgot-password')"
                        class="hover:bg-blue-100 dark:hover:bg-slate-700 py-2.5 border border-blue-600 dark:border-indigo-400 rounded-xl font-medium text-blue-600 dark:text-indigo-400 text-center transition-colors cursor-pointer">
                        Olvidé mi contraseña
                    </button>
                </div>
            </form>
    </section>