@import 'tailwindcss';
@plugin "tailwindcss-view-transitions";
@plugin "flowbite/plugin";
@plugin 'tailwind-scrollbar';

@source "./views/**/*.{html,ts}";
@source "./components/**/*.{html,ts}";
@source "./main.ts";
@source "./**/*.html";

@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

@import 'flowbite/src/themes/default';

@custom-variant dark (&:where(.dark, .dark *));

@view-transition {
  navigation: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s, color 9999s ease-in-out 0s;
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  * {
    transition-behavior: allow-discrete;
  }
}

@layer utilities {
  .bg-brand {
    @apply bg-blue-500 dark:bg-indigo-600 hover:bg-blue-600 dark:hover:bg-indigo-700;
  }

  .bg-element-primary {
    @apply bg-blue-500 dark:bg-indigo-600;
  }

  .bg-back-primary {
    @apply bg-gray-200 dark:bg-slate-900;
  }

  .bg-back-secondary {
    @apply bg-white dark:bg-slate-800;
  }

  .text-color {
    @apply text-blue-500 dark:text-indigo-400;
  }

  .text-color-hover {
    @apply text-blue-600 dark:text-indigo-500 hover:text-blue-700 dark:hover:text-indigo-600;
  }

  .text-color-secondary {
    @apply text-gray-400 dark:text-gray-500;
  }
}

@utility info-field-* {
  --label: --value([ * ]);
  @apply relative cursor-default;

  & > *,
  &:not(:has(*)) {
    @apply relative transition-all duration-300 overflow-hidden text-black dark:text-white;

    &::before {
      content: var(--label);
      @apply absolute left-2 top-1/2 -translate-y-1/2 translate-x-1/2 transition-all duration-300 whitespace-nowrap text-transparent;
      text-indent: 0;
    }
  }

  &:hover > *,
  &:hover:not(:has(*)) {
    @apply text-transparent indent-[-50%] cursor-copy select-none;

    &::before {
      @apply text-gray-400 dark:text-gray-400 translate-x-0;
    }
  }
}
