<article
    class="group flex flex-col sm:flex-row justify-between items-stretch gap-5 sm:gap-4 bg-white dark:bg-slate-800 shadow-sm hover:shadow-md p-5 border border-gray-200 dark:border-slate-700 rounded-2xl transition-all task-wrapper">
    <div class="flex items-start gap-4 w-full">
        <div class="flex flex-col justify-between items-center gap-4 h-full">
            <button type="button" class="mt-1 cursor-pointer toggle-btn">
                <div
                    class="flex justify-center items-center border-2 border-gray-400 hover:border-blue-500 dark:border-gray-500 dark:hover:border-indigo-500 rounded-full size-6 status-icon">
                </div>
            </button>
            <svg class="bottom-5 left-5 opacity-100 sm:opacity-0 group-hover:opacity-100 size-5 text-gray-400 hover:text-blue-500 dark:hover:text-indigo-400 transition-all cursor-pointer info-btn"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                viewBox="0 0 24 24" id="info-icon">
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M12 16v-4"></path>
                <path d="M12 8h.01"></path>
            </svg>
        </div>

        <div class="flex flex-col flex-1 text-gray-800 dark:text-gray-200 task-content">
            <div class="flex items-center gap-2 task-info-text min-w-0">
                <h3 class="font-bold text-lg leading-tight title-text truncate">{{title}}</h3>
                <svg class="star-btn star-icon size-5 shrink-0" fill="none" stroke="currentColor" viewBox="0 0 24 24" title="Marcar como importante">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" d="M12 17.75l-6.172 3.245 1.179-6.873-4.993-4.867 6.9-1.002L12 2l3.086 6.253 6.9 1.002-4.993 4.867 1.179 6.873z"/>
                </svg>
                <status-info class="date-text shrink-0" type="custom" color="yellow" text="{{date}}"></status-info>
            </div>
            <pre class="mt-1 font-sans text-sm description-text line-clamp-3 whitespace-pre-wrap wrap-break-word">{{description}}</pre>

            <div class="flex flex-wrap gap-2 mt-2 category-container">
            </div>
            <div class="flex flex-wrap gap-2 mt-2 tags-container">
            </div>
        </div>
    </div>

    <div class="flex flex-row sm:flex-col justify-end sm:justify-between items-center sm:items-end self-stretch sm:self-center w-full sm:w-auto gap-3 sm:gap-0 border-t border-gray-100 dark:border-slate-700/50 sm:border-t-0 pt-3.5 sm:pt-0 h-auto sm:h-full">
        <button type="button"
            class="hover:bg-blue-200 dark:hover:bg-blue-900/30 px-4.5 py-1.75 sm:px-3 sm:py-1.5 rounded-[10px] sm:rounded-lg w-auto sm:w-full shrink-0 font-medium text-blue-500 text-sm text-center transition-colors edit-btn">Editar</button>
        <button type="button" data-state="initial"
            class="hover:bg-red-200 dark:hover:bg-red-900/30 px-4.5 py-1.75 sm:px-3 sm:py-1.5 rounded-[10px] sm:rounded-lg w-auto sm:w-full shrink-0 font-medium text-red-500 text-sm text-center transition-colors cursor-pointer delete-btn">Borrar</button>
    </div>
</article>
<template id="tag-template">
    <span class="bg-gray-300 dark:bg-slate-700 px-2.5 py-1 rounded-md text-gray-600 dark:text-gray-300 text-xs"></span>
</template>
<template id="category-template">
    <span
        class="bg-blue-200 dark:bg-indigo-900/50 px-2.5 py-1 rounded-md font-semibold text-blue-800 dark:text-indigo-300 text-xs"></span>
</template>