<li
    class="flex justify-between items-center bg-gray-50 dark:bg-slate-900 p-3 rounded-lg border border-gray-200 dark:border-slate-700">
    <div>
        <p class="username-text font-bold text-sm"></p>
        <p class="role-text text-xs text-gray-500"></p>
    </div>
    <form class="promote-form">
        <button type="submit"
            class="text-xs bg-indigo-100 text-indigo-700 hover:bg-indigo-200 dark:bg-indigo-900/50 dark:text-indigo-300 dark:hover:bg-indigo-800 px-3 py-1.5 rounded-md font-semibold transition">Hacer Admin</button>
    </form>
</li>